<%= stylesheet_link_tag "application", :media => "all" %>
  
<div id="content">
	<div id="column1">
		<h3>Minhas Receitas</h3>
		<p>Icing gummi bears pastry pudding I love. I love pastry icing pie lemon drops. Icing cupcake icing. Gummi bears fruitcake oat cake. Apple pie wafer soufflé brownie pie chocolate cake. Lemon drops halvah jelly-o wypas sweet bonbon brownie. Halvah bear claw powder wypas gummies jelly beans brownie soufflé.</p>
		<p>Sesame snaps macaroon liquorice candy brownie tart bonbon toffee. Carrot cake powder topping. Wafer brownie chupa chups bonbon danish. Marzipan liquorice powder cake wafer chocolate jujubes. Lollipop I love I love lollipop carrot cake. Pie gummi bears I love cotton candy gummies lemon drops. Ice cream biscuit cupcake caramels. Gingerbread caramels biscuit tiramisu. I love pudding gingerbread carrot cake donut brownie danish fruitcake.</p>
	</div>
	<div id="column2">
		<h3>Participe</h3>
		<p>Lollipop jujubes pastry wypas lemon drops tootsie roll. Gummi bears powder sesame snaps macaroon pastry sweet. I love chocolate bonbon tiramisu tart oat cake pastry. </p>
		<p>Lemon drops marshmallow chocolate I love. Faworki soufflé brownie lemon drops cupcake. Pastry danish chocolate cake marshmallow jelly beans croissant liquorice. Biscuit dragée cotton candy cupcake. Dragée macaroon I love apple pie wypas I love croissant sweet roll. I love icing chocolate wypas I love I love cake oat cake biscuit. Faworki apple pie I love marzipan chocolate I love marshmallow.</p>
	</div>
	<%= render "searchbar" %>
</div>
